body{
}
#banner {
width:100%;
}
principal {
background:#cccccc;
padding:30pix
}
titulo•principal 
padding-left:20px
}
.título-centralizado{
text-aling:center;
}
p{
text-aling:center;
}
#missao{
font-size:20px;
}
em strong{
color:#ff0000
}
.itens{
font-style:italig:
}
.benefícios {
background:#ffffff
padding:20px
}
vl{
display:inline-block;
vertical-align;
width:20%
margin-ringth:15%
}
.imagembeneficios{
width:50%
}
